html {
   height:  100%;
   
}

body {
    height: 100%;
    background-color: gray;
    font-family: 'Ranga', cursive;
    font-size: x-large;
    margin:0;
}
a {
    text-decoration: blink;
}

.menu {
    width: 30%
}


.main {
    height: 100%;
    width:70%;
    display: flex;
    justify-content:space-around;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header {
    display: flex;
    justify-content:center;
}

.container {
    display: flex;
}

.picture {
    width:100%;
    align-self:center;
}

.thumbnail-image {
    width:300px;
}

.rapper {
    border:20px solid #999966;
    height: 100%;
    display: flex;
    flex-direction: column;
}